<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ashveil | documentation</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <style>
    :root {
      --bg: #140c1e;
      --card-bg: #1f1329;
      --text-main: #e0d5ff;
      --text-sub: #bfa8e2;
      --border: #38264f;
      --highlight: #a678ff;
      --line-glow: 0 0 8px #a678ff, 0 0 16px #a678ff;
    }

    body {
      font-family: 'Fira Sans', sans-serif;
      background-color: var(--bg);
      color: var(--text-main);
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    </style>
    <body>
        <h1>PAIN</h1>
    </body>
</html>